@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_wrapper {
    @extend %flex-column;
    gap: var(--gap-lg);
    padding: calc(var(--gap-lg) * 2) var(--gap-lg);
    background-color: var(--secondary);
    color: var(--white);
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
}

.offer_form {
  @extend %flex-column;
  gap: var(--gap-md);
  max-width: 600px;

  fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;

    @extend %flex-column;
    gap: var(--gap-sm);

    input {
      width: 100%;
    }

    button {
      width: 100%;
      background-color: var(--primary);
    }
  }

  small {
    a {
      font-weight: var(--fw-sb);
      text-decoration: underline;
      color: var(--white);
    }

    @include media-down($mobile-width) {
      text-align: center;
    }
  }
}

.base_title {
  margin-bottom: 0;
  max-width: 650px;
}
