@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  grid-template-columns: repeat(3, 1fr);

  @include media-down($laptop-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-down($tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    &_header {
      position: relative;
      min-height: 90px;
      @extend %flex-align;

      &_num {
        color: var(--primary);
        font-size: 120px;
        line-height: 1;
        font-weight: var(--fw-b);
        opacity: var(--tooltip-opacity);
        top: 50%;
        left: 0;
        position: absolute;
        transform: translateY(-50%);

        @include container-down('root', $tablet-width) {
          font-size: 90px;
        }
      }
    }
  }
}
