@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_header {
    @extend %flex-column;
    gap: var(--gap-md);
  }

  .author_block {
    margin-bottom: var(--gap-md);
  }

  small {
    display: block;
    font-size: 16px;
    margin-bottom: var(--gap-xs);
    color: var(--gray);
  }
}

.base_title {
  color: var(--primary);
}
