@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_content {
    display: grid;
    grid-template-columns: auto minmax(400px, 15vw);
    gap: var(--gap-lg);

    @include media-down($laptop-width) {
      grid-template-columns: 1fr;
    }

    &_side {
      @extend %flex-column;
      gap: var(--gap-lg);

      .main-section {
        background-color: red;
      }
    }
  }

  &_detail_img {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.base_title {
  font-size: var(--base-subtitle);
  margin-bottom: 0;
  color: var(--dark);
}
