@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  &_header {
    @extend %flex-column;
    gap: var(--gap-md);

    img {
      width: 100%;
      height: auto;
      max-height: 525px;
      object-fit: cover;
      object-position: center;
    }
  }
}
