@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  @extend %flex-column;
  gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include container-down('root', $mobile-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include container-down('root', 1280px) {
      grid-template-columns: 1fr;
    }

    img {
      aspect-ratio: 3/2;
    }

    &_content {
      .base_subtitle {
        margin-bottom: initial;
      }
    }
  }
}
