@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include container-down('root', $laptop-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    @extend %flex-center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    gap: var(--gap-sm);

    img {
      border-radius: 20px;
    }

    &_content {
      @extend %flex-center;
      height: 100%;
      text-align: center;

      .base_subtitle {
        margin-bottom: var(--gap-xs);
      }
    }
  }
}
