@import '../../../../styles/extends.scss';
@import '../../../../styles/mixins.scss';

.header {
  &_logo {
    margin-right: auto;
  }

  &_contacts {
    @include container-down('header', $tablet-lg-width) {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }

    @include container-down('header', $tablet-width) {
      display: none;
    }
  }

  &_action {
    @include container-down('header', $tablet-width) {
      display: none;
    }
  }
}

.burger {
  display: none;
  @include container-down('header', $nav-collapse-width) {
    display: flex;
  }
}
