@import '../../../../styles/extends.scss';
@import '../../../../styles/mixins.scss';

.root {
  background-color: var(--white);
  transition: top 0.4s ease-in-out;
}

.sticky {
  position: sticky;
  top: 0;
  animation: fadeIn 0.4s ease-in-out;
}

.header {
  &_logo {
    margin-right: auto;
  }

  &_contacts {
    @include container-down('header', $tablet-lg-width) {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
