/* stylelint-disable */
$mobile-width: 534px;
$tablet-width: 768px;
$tablet-lg-width: 960px;
$laptop-width: 1024px;
$laptop-lg-width: 1360px;
$desktop-width: 1440px;
$desktop-lg-width: 1640px;

/*down*/
@mixin media-down($width) {
  @media (max-width: calc($width - 1px)) {
    @content;
  }
}

@mixin mobile-down {
  @media (max-width: (var(--mobile-width))) {
    @content;
  }
}

/*up*/
@mixin media-up($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}
