.input {
  padding-block: 0;
  border-radius: 0;
  color: var(--gray);
  outline: none;
  height: 48px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(107, 114, 128);
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.radius {
  &__xs {
    div,
    input,
    button,
    &.dropdown {
      border-radius: 0;
    }
  }

  &__sm {
    div,
    input,
    button,
    &.dropdown {
      border-radius: 5px;
    }
  }

  &__lg {
    div,
    input,
    button,
    &.dropdown {
      border-radius: calc(var(--gap-base) + 2px);
    }
  }

  &__xl {
    div,
    input,
    button,
    &.dropdown {
      border-radius: 30px;
    }
  }
}

.test {
  background-color: red;
}

.dropdown {
  border: 1px solid rgb(107, 114, 128);
  background: rgb(255, 255, 255);
  padding: 12px;

  &_radius_xs {
    border-radius: 0;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);

    input {
      border: 1px solid rgb(209, 213, 219);
      border-radius: 5px;
      padding-inline: var(--gap-base);
      height: 32px;

      &:focus {
        outline: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.option {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgb(209, 213, 219);
  margin-bottom: 10px;
  border-radius: 0;
  font-size: 16px;

  &:hover {
    background-color: transparent;
  }

  &:last-child {
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
  }
}

.pillsList {
  flex-wrap: nowrap;
  overflow: hidden;
}
