.input {
  padding-block: 0;
  border-radius: 0;
  color: var(--black);
  outline: none;
  line-height: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(107, 114, 128);
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--black);
  }
}

.radius {
  &__xs {
    input,
    button,
    &.dropdown {
      border-radius: 0;
    }
  }

  &__sm {
    input,
    button,
    &.dropdown {
      border-radius: 5px;
    }
  }

  &__lg {
    input,
    button,
    &.dropdown {
      border-radius: calc(var(--gap-base) + 2px);
    }
  }

  &__xl {
    input,
    button,
    &.dropdown {
      border-radius: 30px;
    }
  }
}

.dropdown {
  border: 1px solid rgb(107, 114, 128);
  background: rgb(255, 255, 255);
  padding: 12px;

  &_radius_xs {
    border-radius: 0;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);

    input {
      border: 1px solid rgb(209, 213, 219);
      border-radius: 5px;
      padding-inline: var(--gap-base);
      height: 32px;

      &:focus {
        outline: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.option {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 0;
  font-size: 16px;

  &:hover {
    background-color: #f1f3f5;
  }

  svg {
    display: none;
  }

  &:last-child {
    border: none;
    margin-bottom: 0;
  }

  &[aria-selected='true'] {
    background-color: var(--primary-lighten-35);
    color: var(--primary);
    cursor: auto;
  }
}

.pillsList {
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 150px;

  input {
    &::placeholder {
      color: var(--black);
    }
  }
}

.classNameInput {
  border-radius: 30px !important;
}
