@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  @extend %flex-column;
  align-items: center;
  gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);
}

.list {

  &_item {

    &_price {
      color: #5145CD;
    }

    &_content {

      &__option {
        background: #E5EDFF;
      }
    }
  }
}

.bg_color {
  background: #E5EDFF;
}

.text_color {
  color: #5145CD;
}

.border_color {
  border: 1px solid #5145CD;
}
