@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list_item {
  img {
    border-radius: 20px;
    aspect-ratio: 3 / 2;
    object-position: top;
  }
}
