@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.list_item {
  @extend %flex-column;
  gap: var(--gap-sm);
  height: 100%;

  &_content {
    @extend %flex-column;
    flex-grow: 1;
    color: var(--dark);

    & > img {
      object-fit: cover;
      aspect-ratio: 8/3;
      object-position: top;
    }

    &_wrapper {
      flex-grow: 1;

      button {
        margin-top: auto;
        padding-bottom: 0;
      }
    }

    .base_subtitle {
      @include text-truncate(3);
    }

    .base_text {
      @include text-truncate(5);
    }
  }
}
