@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  grid-template-columns: repeat(2, 1fr);
  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }
}
.list {
  container: list-grid / inline-size;

  &_item {
    &_icon {
      svg {
        fill: var(--primary);
      }
    }

    &_title {
      font-size: var(--base-subtitle);
      font-weight: var(--fw-b);
      color: var(--black);
    }

    @container list-grid (max-width: 400px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
