@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  small {
    display: block;
    font-size: 16px;
    margin-bottom: var(--gap-xs);
    color: var(--gray);
  }

  &_content {
    img {
      border-radius: 20px;
    }
  }
}

.base_title {
  color: var(--primary);
}
