@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  ul {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);

    @include media-down($desktop-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;
    }
  }
}

.base_title {
  text-align: center;
  color: var(--primary);
}

.base_subtitle {
  margin-bottom: var(--gap-xs);
}

.item {
  @extend %flex-column;
  @extend %flex-center;
  height: 100%;
  text-align: center;
  gap: var(--gap-sm);

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }

  button {
    margin-top: auto;
  }
}
