@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.list {
  @extend %list-reset;
  display: grid;
  gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);
  grid-template-columns: 1fr;

  &_item {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-lg);


    &_gallery  {
      max-width: $desktop-lg-width;
      min-width: 290px;
    }

    &_gallery_slide {
      width: 100%;
      height: 100%;
      max-height: 500px;
      object-fit: cover;
    }

    &_content {
      @extend %flex-column;
      flex-grow: 1;
      gap: var(--gap-base);

      &_header {
        @extend %flex-align;
        gap: var(--gap-base);

        @include container-down('root', $mobile-width) {
          display: grid;
          grid-template-columns: 1fr;

          .base_title {
            order: 2;
          }
        }
        
        a {
          min-width: 140px;

          @include container-down('root', $mobile-width) {
            order: 1;
          }
        }
        
      }

      &_badge {
        @extend %flex-align;
        gap: var(--gap-base);
        width: fit-content;
        margin-bottom: 8px;
      }

      .base_title {
        width: auto;
        margin-right: auto;
        margin-bottom: 8px;
        font-weight: var(--fw-m);
        font-size: var(--fs-lg);
        color: var(--dark);
      }

      .base_subtitle {
        font-weight: var(--fw-r);
        font-size: var(--fs-sm);
        color: var(--dark);
      }

      .base_text {
        font-size: 16px;
      }
    }

    &_locations {
      @extend %list-reset;
      @extend %flex-align;
      gap: var(--gap-xxl);
      margin-bottom: 8px;

      @include container-down('root', $mobile-width) {
        & {
         flex-direction: column;
         align-items: center;
         gap: var(--gap-base);
        }
      }

      &_item {
        @extend %flex-align;
        gap: var(--gap-base);

        @include container-down('root', $mobile-width) {
          & {
           width: 100%;
          }
        }

        img {
          max-width: 16px;
          max-height: 16px;
          object-fit: contain;
        }
      }
    }

    &_properties {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--gap-xl);
      padding: 16px 0;
      border-top: 1px solid var(--lighter);
      border-bottom: 1px solid var(--lighter);

      @include container-down('root', $tablet-lg-width) {
        & {
          grid-template-columns: 1fr;
        }
      }

      &_content {
        @extend %flex-column;
        gap: var(--gap-base);

        &_details {
          @extend %flex-align;
          font-weight: var(--fw-r);
          font-size: var(--fs-sm);
          color: var(--lighter);

          &:last-child {
            align-items: flex-start;
          }
        }
  
        &_details span:last-child {
          margin-left: auto;
          font-weight: var(--fw-m);
          color: var(--dark);
        }

        &_details div {
          @extend %flex-column;
          gap: var(--gap-base);
          margin-left: auto;

          & span {
            margin-left: auto;
            font-weight: var(--fw-m);
            color: var(--dark);
          }
        }
      }
    }
    &_data {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-sm);

      @include container-down('root', $tablet-lg-width) {
        display: grid;
      }

      @include container-down('root', $mobile-width) {
        grid-template-columns: 1fr;
      }

      &_content {
        @extend %flex-column;
        gap: var(--gap-base);

        img {
          width: 100%;
        }

        &_details {
          @extend %flex-align;
          font-weight: var(--fw-r);
          font-size: var(--fs-sm);
          color: var(--lighter);
        }
  
        &_details span:last-child {
          margin-left: auto;
          font-weight: var(--fw-m);
          color: var(--dark);
        }

        button {
          width: 100%;
        }
      }

    }

  }
}

.info_description {
  font-weight: var(--fw-r);
  font-size: var(--fs-sm);
  color: var(--lighter);
}

.tab {

  @include container-down('root', $tablet-lg-width) {
    display: none;
  }

  &_header th {
    padding: 16px clamp(16px, 1vw, 32px);
    font-weight: var(--fw-r);
    font-size: var(--fs-sm);
    color: var(--dark);
    }

    &_body_content td {
      padding: 16px clamp(16px, 1vw, 32px);
      border-top: 1px solid var(--lighter);
    }
}
