@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  ul {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);

    @include media-down($desktop-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);

  &_line {
    max-width: 250px;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    opacity: var(--tooltip-opacity);
  }
}

.base_title {
  text-align: left;
  color: var(--primary);
}

.base_subtitle {
  font-size: clamp(24px, 4.8vw, 48px);
  color: var(--primary);
}
