@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include container-down('root', 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include container-down('root', 680px) {
    grid-template-columns: 1fr;
    gap: var(--gap-lg);
  }

  &_item {
    @extend %flex-column;
    height: 100%;
    gap: var(--gap-sm);

    &_header {
      @extend %flex-align;
      gap: var(--gap-sm);

      svg {
        width: 100%;
        max-width: 48px;
        height: 100%;
      }

      @include container-down('root', $laptop-width) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
