@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-xxl);
    margin-bottom: var(--gap-xxl);

    @include media-down(1080px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-down(767px) {
      grid-template-columns: 1fr;
    }
  }
}

.base_title {
  text-align: center;
  color: var(--site-color);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--gap-xxl);

  button {
    cursor: pointer;
    padding: var(--gap-xs) var(--gap-sm);
    background-color: transparent;
    border: 1px solid transparent;
    font-size: var(--fs-sm);
    transition:
      background-color var(--slow-transition),
      color var(--slow-transition);

    &:not(.tab_item__active, [aria-selected='true']) {
      &:hover {
        color: var(--primary);
      }
    }

    &[aria-selected='true'] {
      color: var(--primary);
      cursor: default;
      border: 1px solid var(--primary);
    }
  }
}

.item {
  @extend %flex-column;
  gap: var(--gap-sm);
  border-radius: 5px;
  height: 100%;

  img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;

    @include media-down(500px) {
      max-height: 200px;
    }
  }

  &_category {
    font-size: var(--fs-xs);
    color: var(--primary);
  }

  p {
    font-size: clamp(var(--fs-xs), 1.6vw, var(--fs-sm));
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: auto;
  }

  &_link {
    transition: opacity var(--base-transition);
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    width: fit-content;

    svg {
      path {
        fill: var(--primary);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    img {
      border-radius: 50%;
      width: fit-content;
      height: fit-content;
    }

    &_info {
      font-size: var(--fs-xs);
      @extend %flex-column;
      gap: var(--gap-xxs);

      span {
        font-weight: 600;
      }

      ul {
        @extend %list-reset;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--gap-xxs);

        li {
          position: relative;

          &:not(:last-child) {
            margin-right: var(--gap-xs);
            padding-right: var(--gap-xs);

            &::after {
              content: '';
              position: absolute;
              right: -4px;
              top: 50%;
              transform: translateY(-50%);
              width: 3px;
              height: 3px;
              background-color: var(--black);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.button {
  button {
    margin: 0 auto;
  }
}

.base_subtitle {
  transition: color var(--base-transition);
  &:hover {
    color: var(--primary);
  }
}
