@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_wrapper {
    @extend %flex-column;
    gap: var(--gap-lg);
    padding: var(--gap-xxl) var(--gap-lg);
    background-color: var(--primary);
    color: var(--white);
    border-radius: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.offer_form {
  @extend %flex-column;
  gap: var(--gap-md);
  align-items: center;

  fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    max-width: 1140px;
    @extend %flex-align;
    gap: var(--gap-md);

    input {
      width: 100%;
    }

    button {
      width: 100%;
      background-color: #7895d4; //temp
    }

    @include media-down($tablet-lg-width) {
      flex-wrap: wrap;
      input,
      button {
        width: calc(50% - (var(--gap-md) / 2));
      }
    }

    @include media-down($mobile-width) {
      input,
      button {
        width: 100%;
      }
    }
  }

  small {
    a {
      text-decoration: underline;
      color: var(--white);
    }
  }
}

.base_title {
  text-align: center;
  margin-bottom: 0;
}

.base_text {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
