@import '../../styles/extends.scss';

.root {
  @extend %flex-column;
  gap: var(--gap-lg);

  img {
    width: fit-content;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: left;
    max-height: 440px;
  }
}
