.root {
  border-radius: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0.11);
  height: 1.2em;
  animation: loading 2s ease-in-out 0.5s infinite;
}

.title {
  width: 50%;
  height: 66px;
}

.text {
  width: 100%;
  height: 21px;
}

.image {
  position: relative;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
