$white: #fff;
$black: #000;
$primary: #1a56db;
$secondary: #a4cafe;
$dark: #111928;
$light: #1a56db;
$lighter: #d1d5db;

:root {
  --white: #{$white};
  --black: #{$black};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --dark: #{$dark};
  --light: #{$white};
  --lighter: #{$lighter};

  // --success: #28a745;
  // --warning: #ffc107;
  // --danger: #dc3545;
  // --info: #A4CAFE;
  // --muted: #6c757d;

  --site-color: #{$dark};
  --site-bg-color: #{$white};
  --site-header-color: #{$white};
  --site-footer-color: #{$primary};
}
