$white: #fff;
$black: #000;
$primary: #1a57db;
$primary-lighten-20: lighten($primary, 20%);
$primary-darken-20: darken($primary, 20%);

$secondary: #a4cafe;
$dark: #111928;
$light: #1a56db;
$lighter: #d1d5db;
$gray: #6b7280;

:root {
  --white: #{$white};
  --black: #{$black};
  --primary: #{$primary};
  --primary-lighten-20: #{$primary-lighten-20};
  --primary-darken-20: #{$primary-darken-20};

  --secondary: #{$secondary};
  --dark: #{$dark};
  --light: #{$white};
  --lighter: #{$lighter};
  --gray: #{$gray};

  // --success: #28a745;
  // --warning: #ffc107;
  // --danger: #dc3545;
  // --info: #A4CAFE;
  // --muted: #6c757d;

  --site-color: #{$dark};
  --site-bg-color: #{$white};
  --site-header-color: #{$white};
  --site-footer-color: #{$primary};
}
