:root {
  --gap-base: 8px;

  --gap-xxs: calc(var(--gap-base) / 2);
  --gap-xs: var(--gap-base);
  --gap-sm: calc(var(--gap-base) * 2);
  --gap-md: calc(var(--gap-base) * 3);
  --gap-lg: calc(var(--gap-base) * 4);
  --gap-xl: calc(var(--gap-base) * 5);
  --gap-xxl: calc(var(--gap-base) * 6);
  --gap-xxxl: calc(var(--gap-base) * 10);
}
