@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  @extend %flex-wrap;
  flex-direction: row;
  &_item {
    width: calc(50% - calc(var(--gap-lg) / 2));

    @include container-down('list-grid', 640px) {
      width: 100%;
    }

    &_label {
      font-size: clamp(
        calc(var(--fs-xxl) * 1.2),
        6vw,
        calc(var(--fs-xxl) * 1.5)
      );
      line-height: 1;
      color: var(--primary);
    }
  }
}

.btn_row {
  @extend %flex-align;
  flex-wrap: wrap;
  gap: 24px;
}
