@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include container-down('root', 640px) {
    grid-template-columns: 1fr;
  }

  &_item {
    display: grid;
    grid-template-columns: 240px auto;
    gap: clamp(var(--gap-sm), 4vw, var(--gap-lg));
    height: 100%;

    @include container-down('root', 1240px) {
      display: flex;
      flex-direction: column;
    }
  }
}
