@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 16px;
  width: 100%;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;

  @include media-down($mobile-width) {
    padding: 0;
  }
}

.item {
  border: 1px solid #d1d5db;

  img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1;
  }

  @include media-down($mobile-width) {
    border: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chars {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    span:first-child {
      color: #6b7280;
    }
  }
}

.price {
  color: var(--primary);
}
