@import '../../styles/extends.scss';

.root {
  @extend %flex-column;
  gap: var(--gap-xxs);
  justify-content: center;
  min-height: 48px;

  &_username {
    font-size: 14px;
    font-weight: var(--fw-sb);
  }

  &_footer {
    @extend %flex-align;
    gap: var(--gap-xs);
    font-size: 14px;

    & span:not(:last-child) {
      position: relative;
      padding-right: calc(var(--gap-xs) + 3px);

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        content: '';
        width: 5px;
        height: 5px;
        background-color: var(--black);
        border-radius: 50%;
      }
    }
  }

  &:has(img) {
    position: relative;
    padding-left: 64px;
    .root_avatar {
      background-color: var(--primary-lighten-35);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
