@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  ul {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--gap-sm) * 4) var(--gap-lg);

    @include media-down($desktop-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;

      gap: var(--gap-lg);
    }
  }
}

.base_title {
  text-align: center;
  color: var(--primary);
}

.item_test {
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  aspect-ratio: 1 / 1;
}

.item {
  @extend %flex-column;
  height: 100%;
  gap: var(--gap-sm);

  &_header {
    @extend %flex-align;
    gap: var(--gap-md);

    svg {
      width: 100%;
      max-width: 80px;
      height: 100%;
    }

    @include media-down($laptop-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_content {
    @extend %flex-column;
    gap: var(--gap-sm);
    flex-grow: 1;

    button {
      margin-top: auto;
    }
  }
}
