@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  &_item {
    &:first-child {
      @include container-down('root', $tablet-width) {
        order: 2;
      }
    }

    &:last-child {
      @include container-down('root', $tablet-width) {
        order: 1;
      }
    }
  }
}

.list {
  margin-left: var(--gap-sm);

  &_item {
    display: list-item;
    list-style: disc;
  }
}
