@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  position: absolute;
  top: 50px;
  left: 48px;
  width: 100%;
  max-width: 320px;
  // height: 100%;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;
  z-index: 101;
  background-color: var(--white);
  padding: var(--gap-sm);
  display: flex;
  flex-direction: column;
}

.title {
  // font-size: 24px;
  // font-weight: 700;
  color: var(--primary);
}

.header {
  @extend %flex-align;
  gap: var(--gap-sm);
  padding: calc(var(--gap-sm) - 4px);
  cursor: pointer;

  svg {
    fill: var(--primary);
  }

  transition:
    color var(--slow-transition),
    background-color var(--slow-transition),
    fill var(--slow-transition),
    transform 0.3s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--white);

    svg {
      fill: var(--white);
    }

    span {
      color: var(--white);
    }
  }

  &_active {
    background-color: var(--primary);
    color: var(--white);
    margin-bottom: var(--gap-sm);

    svg {
      fill: var(--white);

      &:last-child {
        transform: rotate(180deg);
      }
    }

    span {
      color: var(--white);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: transparent;
    border: none;
  }
}

// .content {
//   display: none;
// }

// .sidebar {
//   position: absolute;
//   top: 50px;
//   left: 48px;
//   width: 100%;
//   max-width: 320px;
//   height: 100%;
//   max-height: calc(100vh - 100px);
//   overflow: hidden;
//   overflow-y: auto;

//   z-index: 101;
//   background-color: var(--white);

//   &_opener {
//     @extend %flex-align;
//     @extend %btn-reset;
//     gap: 2px;

//     svg {
//       fill: var(--primary);
//     }

//     span {
//       display: block;
//       min-width: 17px;
//       min-height: 17px;
//       font-size: 10px;
//       line-height: 1;
//       padding: 4px 4px 3px;
//       color: var(--white);
//       border-radius: 50px;
//       background-color: var(--danger);
//     }
//   }

//   @include container-down('map-sidebar', 768px) {
//     position: static;
//     max-width: 100%;

//     &_header {
//       display: flex;

//       a {
//         display: flex;
//       }
//     }

//     &_content {
//       display: none;
//     }
//   }
// }
