.root {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    font-weight: 700;
    font-size: clamp(24px, 5vw, 56px);
    color: #fff;
    margin: 0;
  }

  p {
    color: #fff;
    font-size: 18px;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &_list {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: var(--gap-sm);

    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      background-color: #fff;
      cursor: pointer;
      padding: 16px 24px;
      border-radius: 5px;
      color: var(--gray);
      font-size: var(--fs-sm);
      transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      &:hover {
        color: var(--primary);
      }

      &[aria-selected='true'] {
        background-color: var(--primary);
        color: var(--white);
        cursor: auto;
      }
    }

    &::before {
      display: none;
    }
  }

  &_content {
    > div {
      // display: flex;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      color: #fff;
      gap: 16px;
      position: relative;
    }

    &_wrapper {
      display: flex;
      gap: var(--gap-sm);
      align-items: center;
    }
  }
}

.button {
  height: 48px;
  width: 150px;
}

.select {
  width: 100%;
}

.hero {
  &-type-2 {
    .root {
      &::after {
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 1190px) {
  .tab {
    &_content {
      &_wrapper {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    height: auto;
  }

  .content {
    padding-block: 37px;
    padding-inline: 20px;
  }

  .container {
    padding: 0;
  }

  .tab {
    &_content {
      width: 100%;
      > div {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &_list {
      button {
        flex: 1;
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }

  .tab {
    &_content {
      width: 100%;
      > div {
        grid-template-columns: 1fr;
      }
    }
  }

  .price_range,
  .autocomplete,
  .multi_select,
  .select {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .tab {
    &_list {
      button {
        flex: 100%;
      }
    }
  }
}
