@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.root {
  container: root / inline-size;
}

.select__item {
  flex: 1;
}

.wrapper {
  @extend %flex-align;
  gap: clamp(var(--gap-base), 2vw, var(--gap-sm));
  width: 100%;
  margin-bottom: var(--gap-xxl);

  @include container-down('root', $tablet-lg-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &_popup_btn {
    @extend %flex-align;
    gap: var(--gap-base);
    border: none;
    background: transparent;
    pointer-events: none;

    @include container-down('root', $tablet-lg-width) {
      pointer-events: auto;
      cursor: pointer;
    }

    svg {
      min-width: 24px;
    }

    & span:last-child {
      @extend %flex-center;

      width: 12px;
      height: 12px;
      background: #e02424;
      border-radius: 50%;
      font-weight: var(--fw-r);
      font-size: 8px;
      color: #ffffff;
    }

    & span,
    & span:last-child {
      display: none;

      @include container-down('root', $tablet-lg-width) {
        display: flex;
      }
    }
  }

  &_selects {
    @extend %flex-align;
    gap: clamp(var(--gap-base), 2vw, var(--gap-sm));

    @include container-down('root', $tablet-lg-width) {
      display: none;
    }

    input {
      width: 100%;
      max-width: 200px;
      border: 1px solid #d1d5db;
    }
  }

  &_btns {
    @extend %flex-align;
    gap: clamp(var(--gap-base), 2vw, var(--gap-sm));
    flex-grow: 1;

    @include container-down('root', $tablet-lg-width) {
      margin-left: auto;
      flex-grow: 0;
    }

    button {
      flex-grow: 1;
      min-width: 140px;
      min-height: 48px;

      @include container-down('root', $tablet-lg-width) {
        flex-grow: 0;
      }
    }
  }
}
