@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_content {
    @extend %sticky-lg;
    @extend %flex-column;
    height: 100%;
    gap: var(--gap-md);

    button {
      margin-top: auto;
    }

    ul {
      @extend %list-reset;
      @extend %flex-column;

      gap: var(--gap-md);
      margin-bottom: var(--gap-lg);
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-lg);

    img {
      @extend %sticky-lg;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;

      img,
      .root_content {
        position: relative;
        top: 0;
      }
    }
  }
}

.base_title {
  color: var(--primary);
}

.item {
  position: relative;
  @extend %flex-column;
  gap: var(--gap-sm);

  &_label {
    font-size: calc(var(--fs-xxl) * 1.5);
    color: var(--primary);
  }
}
