@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  ul {
    @extend %list-reset;
    @extend %flex-column;

    gap: var(--gap-md);
    margin-bottom: var(--gap-lg);
  }

  &_content {
    @extend %flex-column;
    height: 100%;
    gap: var(--gap-md);

    button {
      margin-top: auto;
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-lg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-down(1280px) {
      grid-template-columns: 1fr;
    }
  }
}

.base_title {
  color: var(--primary);
}

.item {
  position: relative;
  @extend %flex-column;
  gap: var(--gap-sm);

  &_label {
    font-size: 48px;
    color: var(--primary);
  }
}
