@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  @extend %flex-column;
  align-items: center;
  gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);
}

.list {
  &_item {
    &_content {
    }

    &_properties {
      grid-template-columns: repeat(2, 1fr);

      @include container-down('root', $tablet-lg-width) {
        grid-template-columns: 1fr;
        gap: var(--gap-md);
      }
    }
  }
}
