@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;
  container: list-grid / inline-size;

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg);
    margin-bottom: var(--gap-lg);

    @container list-grid (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @container list-grid (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.base_title {
  text-align: center;
}

.item {
  @extend %flex-column;
  gap: var(--gap-sm);
  border-radius: 5px;
  height: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 3/2;
    background-color: var(--lighter);
  }

  &_info {
    @extend %flex-column;
    gap: var(--gap-sm);
    flex: 1;
  }

  &_list {
    @extend %list-reset;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-sm);

    &__item {
      font-size: var(--fs-xs);
    }
  }

  &_link {
    transition: opacity var(--base-transition);
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    width: fit-content;

    svg {
      path {
        fill: var(--primary);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.base_text {
  font-size: clamp(var(--fs-xs), 1.6vw, var(--fs-sm));
  @include text-truncate(3);
}

.base_subtitle {
  @include text-truncate(2);

  @container list-grid (max-width: 768px) {
    font-size: 16px;
  }
}
