@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;
}

.base_title {
  color: var(--primary);
}

.item {
  @extend %flex-column;
  gap: var(--gap-xs);

  img {
    width: 100%;
    height: auto;
    margin-bottom: var(--gap-sm);
    border-radius: 10px;
  }

  &_name {
    font-size: clamp(var(--fs-md), 2vw, 20px);
    font-weight: var(--fw-b);
  }

  &_label {
    color: var(--primary);
    font-size: var(--main-text);
    margin-bottom: var(--gap-sm);
  }

  &_property {
    @extend %list-reset;
    @extend %flex-column;
    gap: var(--gap-xs);
  }
}

.base_text {
  text-align: center;
  margin-bottom: calc(var(--gap-xxl) * 1.5);

  @include media-down(520px) {
    margin-bottom: var(--gap-md);
  }
}
