@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_content {
    @extend %flex-column;
    height: fit-content;
    gap: var(--gap-md);

    button {
      margin-top: var(--gap-xs);
    }

    ul {
      @extend %list-reset;
      @extend %flex-column;

      gap: var(--gap-md);
      margin-bottom: var(--gap-lg);
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-lg);
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;
    }
  }
}

.base_title {
  color: var(--primary);
  margin-bottom: 0;
}

.item {
  position: relative;
  @extend %flex-column;
  gap: var(--gap-sm);
}
