.root {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

.content {
  position: relative;
  padding-inline: 150px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    padding-right: 100px;
    margin: 0;
  }

  p {
    color: #fff;
    font-size: 18px;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &_list {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid var(--primary);
    margin: -1px;

    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      padding: 15px 24px;
      border-radius: 10px;
      color: var(--gray);
      transition:
        color var(--slow-transition),
        background-color var(--slow-transition);

      &:hover {
        color: var(--primary);
      }

      &[aria-selected='true'] {
        background-color: var(--primary-lighten-35);
        color: var(--primary);
        cursor: auto;
      }
    }
  }

  &_content {
    > div {
      display: flex;
      gap: 24px;
      color: #fff;
      gap: 16px;
      position: relative;
    }
  }
}

.select {
  // svg {
  //   display: none;
  // }

  input {
    padding: 13px 44px 13px 12px;
    border-radius: 10px;
    width: fit-content;
    color: var(--gray);
    outline: none;
    width: 100%;
    min-width: 251px;
  }
}

.input {
  input {
    padding: 15px 44px 15px 12px;
    border-radius: 10px;
    width: fit-content;
    color: var(--gray);
    outline: none;
    width: 100%;
    min-width: 251px;
  }
}
