* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  // overflow-x: hidden; // !! position sticky dont work with overflow
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-sm);
  font-weight: var(--fw-r);
  line-height: var(--line-height);
  color: var(--site-color);
  background-color: var(--site-bg-color);
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-offset);
  max-width: var(--container-width);
}

.container_fluid {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-fuild-offset);
  max-width: var(--container-fluid-width);
}

.base_text {
  display: block;
  font-size: var(--base-text);
}

.base_title {
  display: block;
  width: 100%;
  font-size: var(--base-title);
  margin-bottom: clamp(var(--gap-xl), 6vw, var(--gap-xxl));
  color: var(--primary);
}

.base_quantity {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: var(--fs-xxl);
  margin-bottom: clamp(var(--gap-xl), 6vw, var(--gap-xxl));
  color: var(--lighter);
}

.base_subtitle {
  display: block;
  font-size: var(--base-subtitle);
  font-weight: var(--fw-b);
  color: var(--dark);
}

.navigation_line-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.slider-result-list-pagination .swiper-pagination-bullet {
  width: 24px !important;
  height: 2px !important;
  background: #d1d5db !important;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}

.main-section {
  @extend %section-offset;
  &.align_center {
    .main-section__title,
    .main-section__text {
      text-align: center;
    }
  }

  &:has(.main-section__text) {
    .main-section__text,
    .main-section__quantity,
    .main-section__title {
      margin-bottom: var(--gap-lg);
    }
  }
}

.visible-items {
  white-space: nowrap;
  ul {
    // display: flex;
    // justify-content: center;
    display: inline-block;

    li {
      list-style-type: none;
      // text-wrap: nowrap;
      padding: 1em;
      display: inline-block;
      // &:not(:last-child) {
      //   margin-right: var(--gap-xl);
      // }
    }
  }
}

.hidden-items {
  cursor: pointer;
  position: relative;

  span {
    font-size: 20px;
  }

  ul {
    display: none;
    visibility: hidden;
    left: -30px;
  }

  &:hover {
    ul {
      display: flex;
      flex-direction: column;
      min-width: 240px;
      position: absolute;
      left: 0;
      visibility: visible;
    }
  }
}

.menu-container {
  position: relative;
  overflow: hidden;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.menu li {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.more-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.more-menu button {
  background-color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
