* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  // overflow-x: hidden; // !! position sticky dont work with overflow
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-sm);
  font-weight: var(--fw-r);
  line-height: var(--line-height);
  color: var(--site-color);
  background-color: var(--site-bg-color);
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container_fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-fuild-offset);
  max-width: var(--container-fluid-width);
}

.base_text {
  display: block;
  font-size: var(--base-text);
}

.base_title {
  display: block;
  width: 100%;
  font-size: var(--base-title);
  margin-bottom: clamp(var(--gap-xl), 6vw, var(--gap-xxl));
  color: var(--primary);
}

.base_subtitle {
  display: block;
  font-size: var(--base-subtitle);
  font-weight: var(--fw-b);
  color: var(--dark);
}

.navigation_line-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.main-section {
  @extend %section-offset;
  &.align_center {
    .main-section__title,
    .main-section__text {
      text-align: center;
    }
  }

  &:has(.main-section__text) {
    .main-section__text,
    .main-section__title {
      margin-bottom: var(--gap-lg);
    }
  }
}
