@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.root {
  @extend %flex-wrap;
  gap: var(--gap-xxl);
  flex-grow: 1;
  max-width: 700px;

  &_nav {
    @extend %flex-column;
    gap: var(--gap-md);
    margin-right: auto;

    &__title {
      font-size: var(--fs-sm);
      font-weight: var(--fw-sb);
      color: var(--white);
    }

    ul {
      @extend %list-reset;
      @extend %flex-column;
      gap: var(--gap-sm);

      // li a {
      //   font-size: var(--fs-xs);
      //   color: var(--white);
      // }
    }
  }
}
