@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1.2 / 1;
    }
  }
}

.base_title {
  text-align: center;
  color: var(--primary);
}

.base_text {
  text-align: center;
  margin-bottom: var(--gap-lg);
}
