@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.grid_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(var(--gap-sm), 4vw, var(--gap-lg));

  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
