@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(var(--gap-sm), 4vw, var(--gap-lg));

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
