@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  position: absolute;
  top: 20px;
  left: var(--container-offset);
  width: 100%;
  max-width: 370px;
  max-height: calc(100vh - 250px);

  z-index: 5;
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  @include media-down($mobile-width) {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  button {
    width: calc(100% - var(--gap-sm) * 2);
    margin: var(--gap-sm) auto;
  }
}

.footer {
  background-color: var(--white);
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.header {
  position: sticky;
  top: 0;
  @extend %flex-align;
  gap: var(--gap-sm);
  padding: calc(var(--gap-sm) - 4px);
  cursor: pointer;
  z-index: 3;

  @include media-down($mobile-width) {
    border-top: 1px solid var(--primary);
    padding: calc(var(--gap-sm) - 4px) var(--container-offset);
  }

  svg {
    fill: var(--primary);
    &:last-child {
      margin-left: auto;
    }
  }

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    fill 0.3s ease,
    transform 0.3s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--white);

    svg {
      fill: var(--white);
    }

    span {
      color: var(--white);
    }

    .view_toggler {
      border-color: var(--white);
    }
  }

  &_active {
    background-color: var(--primary);
    color: var(--white);

    & svg {
      fill: var(--white) !important;

      &:last-child {
        transform: rotate(180deg);
      }
    }

    .view_toggler {
      border-color: var(--white) !important;
    }

    span {
      color: var(--white);
    }
  }
}

.content {
  overflow: hidden;
  overflow-y: auto;
}

.view_toggler {
  @extend %flex-align;
  gap: 8px;
  color: var(--primary);

  svg {
    fill: var(--primary);
  }

  border: 1px solid var(--primary);
  padding: 8px;
}

.opener {
  @extend %flex-align;
  flex-grow: 1;

  color: var(--primary);

  svg {
    fill: var(--primary);
  }

  &_title {
    margin-left: 8px;

    @media (max-width: 420px) {
      display: none;
    }
  }

  &_count {
    @extend %flex-center;
    background-color: var(--danger);
    border-radius: 50%;
    padding: 3px;
    color: var(--white);
    width: fit-content;
    min-width: 20px;
    font-size: 10px;
    line-height: 17px;
    height: 20px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  padding: var(--gap-sm);
  border-bottom: 1px solid rgb(209, 213, 219);

  .content {
    display: none;

    & > div {
      flex: 1;
    }
  }
}

.active {
  & ~ .content {
    display: flex;
  }

  svg {
    transform: rotate(180deg);
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.selects {
  display: flex;
  flex-direction: column;
  padding: var(--gap-sm);
  gap: var(--gap-sm);
}

.multi_input {
  div {
    max-width: 100%;
  }
}
