@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-xxl);
    margin-bottom: var(--gap-xxl);

    @include media-down(1080px) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-md);
    }

    @include media-down(767px) {
      grid-template-columns: 1fr;
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--gap-xxl);

  button {
    cursor: pointer;
    padding: 11px 20px;
    background-color: transparent;
    font-size: var(--fs-sm);
    border: none;
    transition:
      background-color var(--slow-transition),
      color var(--slow-transition);

    &:not(.tab_item__active, [aria-selected='true']) {
      &:hover {
        color: var(--primary);
      }
    }

    &[aria-selected='true'] {
      color: var(--primary);
      cursor: default;
      background-color: var(--primary);
      color: var(--white);
      border-radius: 30px;
    }
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-xxl);
  border-radius: 5px;
  height: 100%;

  &:nth-of-type(even) img {
    order: 2;
  }

  @include media-down(1080px) {
    grid-template-columns: 1fr;
    gap: var(--gap-md);

    &:nth-of-type(even) img {
      order: 0;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-md);
  }

  img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;

    @include media-down(500px) {
      max-height: 200px;
    }
  }

  &_category {
    font-size: var(--fs-xs);
    color: var(--primary);
  }

  p {
    font-size: clamp(var(--fs-xs), 1.6vw, var(--fs-sm));
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &_link {
    transition: opacity var(--base-transition);
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    width: fit-content;

    svg {
      path {
        fill: var(--primary);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.base_subtitle {
  transition: color var(--base-transition);
  &:hover {
    color: var(--primary);
  }
}
