@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  @extend %flex-wrap;

  &_item {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);

    align-items: center;
    width: 100%;

    @include media-down($laptop-width) {
      grid-template-columns: 2fr 3fr;
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;
    }

    img {
      align-self: flex-start;
    }
  }
}
