@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    flex-direction: row;
    gap: clamp(var(--gap-sm), 2vw, var(--gap-lg));

    @include container-down('list', $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
    }

    &_content {
      gap: var(--gap-sm);
    }
  }
}
