@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  overflow-x: scroll;
}

.header {
  width: 100%;
  padding-inline: 16px;

  &_wrapper {
    display: flex;
    align-items: center;
    padding-block: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #d1d5db;
  }

  span {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
  }

  button {
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;

    svg {
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding-inline: var(--gap-sm);
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  padding-block: 16px;
  border-bottom: 1px solid rgb(209, 213, 219);

  &:not(:last-child) {
    padding-right: 0;
  }

  .content {
    display: none;

    & > div {
      flex: 1;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  svg {
    width: 40px;
  }
}

.button {
  height: 48px;
  border-radius: 10px;
  width: 150px;
  border-radius: 0;
  width: 100%;
  margin-top: 16px;
}

.active {
  & ~ .content {
    display: flex;
  }

  svg {
    transform: rotate(180deg);
  }
}
