@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  grid-template-columns: repeat(2, 1fr);
  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }
  &_item {
    img {
      border-radius: 20px;
    }

    button {
      @include container-down('root', $tablet-width) {
        margin: 0 auto;
        margin-bottom: clamp(var(--gap-sm), 4vw, var(--gap-xl));
      }
    }

    &:first-child {
      @include container-down('root', $tablet-width) {
        order: 2;
      }
    }

    &:last-child {
      @include container-down('root', $tablet-width) {
        order: 1;
      }
    }
  }
}

.list {
  @extend %flex-column;

  &_item {
    padding-left: 76px;

    &_icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    @container list-grid (max-width: 600px) {
      padding-left: 0;
      &_icon {
        position: static;
      }
    }
  }
}
