@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.grid_layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-lg);

  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    @extend %sticky-lg;
    @extend %flex-column;
    height: fit-content;

    @include container-down('root', $tablet-width) {
      position: relative;
      top: 0;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      object-fit: contain;
    }

    button {
      margin-top: auto;

      @include container-down('root', $tablet-width) {
        margin: 0 auto;
        margin-bottom: clamp(var(--gap-sm), 4vw, var(--gap-xl));
      }
    }
  }
}

.list {
  @extend %list-reset;
  @extend %flex-column;

  gap: var(--gap-lg);
  margin-bottom: var(--gap-lg);
  container: list-grid / inline-size;

  &_item {
    position: relative;
    @extend %flex-column;
    gap: var(--gap-sm);

    padding-left: 76px;

    &_icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    &_content {
      @extend %flex-column;
      gap: var(--gap-sm);
    }

    @container list-grid (max-width: 600px) {
      padding-left: 0;
      &_icon {
        position: static;
      }
    }
  }
}
