@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  position: relative;
  container: map-sidebar / inline-size;
}

.sidebar {
  position: absolute;
  top: 50px;
  left: 48px;
  width: 100%;
  max-width: 320px;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;

  z-index: 101;
  background-color: var(--white);

  &_title {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
  }

  &_header,
  &_content {
    padding: 16px;
  }

  &_header {
    @extend %flex-align;
    justify-content: space-between;
    gap: 16px;

    a {
      display: none;
    }
  }

  &_content {
  }

  &_opener {
    @extend %flex-align;
    @extend %btn-reset;
    gap: 2px;

    svg {
      fill: var(--primary);
    }

    span {
      display: block;
      min-width: 17px;
      min-height: 17px;
      font-size: 10px;
      line-height: 1;
      padding: 4px 4px 3px;
      color: var(--white);
      border-radius: 50px;
      background-color: var(--danger);
    }
  }

  @include container-down('map-sidebar', 768px) {
    position: static;
    max-width: 100%;

    &_header {
      display: flex;

      a {
        display: flex;
      }
    }

    &_content {
      display: none;
    }
  }
}
