@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  font-size: var(--fs-sm);
}

.top {
  @extend %flex-align;
  gap: var(--gap-xl);
  padding: var(--gap-sm) 0;
  border-bottom: 1px solid var(--primary);
}

.logo {
  margin-right: auto;
}

.rounded_xs .btn {
  border-radius: 5px;
}

.rounded_lg .btn {
  border-radius: 30px;
}

.address {
  align-items: flex-start;
  max-width: 300px;
}

.info {
  @extend %flex-column;
  gap: var(--gap-xs);
}

.icon {
  @extend %flex-align;
  gap: var(--gap-xs);

  a {
    color: var(--base-text);
    transition: var(--base-transition);

    &:hover {
      color: var(--primary);
    }
  }
}

.center {
  margin-inline: auto;
}
