@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.root {
  border-top: 1px solid var(--primary);
  padding: 16px 0;

  @include container-down('header', $tablet-width) {
    display: none;
    border-top: none;
  }

  &_active {
    @include container-down('header', $tablet-width) {
      display: block;
      background-color: red;
    }
  }

  ul {
    @extend %flex-align;
    @extend %list-reset;
    gap: clamp(24px, 4vw, 36px);

    li {
      padding: 16px 0;
      a {
        @extend %flex-align;
        gap: 8px;
        color: var(--dark);
        @extend %main-hover;
      }
      position: relative;

      &:hover {
        & > ul {
          display: flex;
          animation: fadeIn 0.3s ease-in;
        }
      }

      & > ul {
        position: absolute;
        @extend %flex-column;
        gap: var(--gap-xs);
        background-color: #fff;
        padding: var(--gap-sm);
        min-width: 250px;
        top: 50px;
        // left: 50%;
        // transform: translateX(-50%);
        display: none;
        box-shadow:
          0 0 0 1px rgba(0, 0, 0, 0.1),
          0 4px 11px rgba(0, 0, 0, 0.1);

        li {
          list-style-type: none;
          padding: 0;
        }
      }
    }
  }

  &_center {
    ul {
      justify-content: center;
    }
  }
}
