@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.list {
  @extend %list-reset;
  display: grid;
  gap: clamp(var(--gap-lg), 4vw, var(--gap-xxl)) var(--gap-lg);
  grid-template-columns: 1fr;

  &_item {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: var(--gap-sm);

    &_gallery_slide {
      width: 100%;
      height: 100%;
      max-width: 420px;
      max-height: 410px;
      object-fit: cover;
    }

    &_content {
      @extend %flex-column;
      flex-grow: 1;
      gap: var(--gap-base);

      &__option {
        padding: 4px 10px;
        width: fit-content;
        background-color: #E1EFFE;
        border-radius: 5px;
        font-weight: var(--fw-sb);
        font-size: var(--fs-xs);
        color: var(--dark);
        margin-bottom: 8px;
      }

      .base_title {
        margin-bottom: 8px;
        @include text-truncate(2);
        font-weight: var(--fw-m);
        font-size: var(--fs-lg);
        color: var(--dark);
      }

      .base_subtitle {
        @include text-truncate(2);
        font-weight: var(--fw-r);
        font-size: var(--fs-sm);
        color: var(--dark);
      }

      .base_text {
        font-size: 16px;
      }
    }

    &_locations {
      @extend %list-reset;
      @extend %flex-align;
      gap: var(--gap-xxl);
      margin-bottom: 8px;

      &__item {
        @extend %flex-align;
        gap: var(--gap-base);

        img {
          max-width: 16px;
          max-height: 16px;
          object-fit: contain;
        }
      }
    }

    &_properties {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 128px;
      row-gap: 8px;
      padding: 16px 0;
      border-top: 1px solid #D1D5DB;
      border-bottom: 1px solid #D1D5DB;

      &__item {
        @extend %flex-align;
        font-weight: var(--fw-r);
        font-size: var(--fs-sm);
        color: #D1D5DB;
      }

      &__item span:last-child {
        margin-left: auto;
        font-weight: var(--fw-m);
        color: var(--dark);
      }
    }

    &_price {
      font-weight: var(--fw-m);
      font-size: var(--fs-lg);
      color: var(--primary);
      margin: 8px 0;
    }

    &_price_measure {
      font-weight: var(--fw-r);
      font-size: var(--fs-sm);
      color: #D1D5DB;
    }
  }
}
