@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.root {
}

.modal {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 9999;
  padding: var(--fs-sm);
  height: fit-content;
  width: 100%;
  max-width: 290px;
  min-width: 290px;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #d1d5db;

  @include container-down('root', 590px) {
    left: 0;
    right: auto;
    min-width: auto;
  }

  @include container-down('root', $mobile-width) {
    max-width: 100%;
  }
}

.outlined {
  background-color: transparent;
  padding: 4px 0;
}
.color_primary {
  color: var(--primary);
}
.color_muted {
  color: var(--gray);
}
