@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.list_item {
  @extend %flex-column;
  gap: var(--gap-sm);
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: hidden;

  &_content {
    @extend %flex-column;
    flex-grow: 1;
    gap: var(--gap-xxs);
    color: var(--dark);

    & > img {
      object-fit: cover;
      aspect-ratio: 4/3;
      object-position: top;
    }

    &_wrapper {
      padding: var(--gap-sm);
      flex-grow: 1;

      button {
        margin-top: auto;
        padding-bottom: 0;
      }
    }

    .base_subtitle {
      @include text-truncate(3);
    }

    .base_text {
      @include text-truncate(5);
    }

    
  }
}
