@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  grid-template-columns: repeat(3, 1fr);

  @include media-down($laptop-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-down($tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    align-items: center;

    &_content {
      flex-grow: 1;

      .base_subtitle {
        text-align: center;
        @include text-truncate(2);
        min-height: calc(var(--base-subtitle) * 2 * 1.2);

        @include container-down('root', $tablet-width) {
          min-height: initial;
        }
      }

      .base_text {
        text-align: center;
      }
    }
  }
}
