@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  @extend %section-offset;

  &_content {
    @extend %sticky-lg;
    @extend %flex-column;
    height: 100%;
    gap: var(--gap-md);

    button {
      margin-top: auto;
    }

    ul {
      @extend %list-reset;
      @extend %flex-column;

      gap: var(--gap-md);
      margin-bottom: var(--gap-lg);
      container: list-grid / inline-size;
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-lg);

    img {
      @extend %sticky-lg;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include media-down($tablet-width) {
      grid-template-columns: 1fr;

      img {
        order: 2;
      }

      img,
      .root_content {
        position: relative;
        top: 0;
      }
    }
  }
}

.base_title {
  color: var(--primary);
}

.base_subtitle {
  font-size: var(--fs-xxl);
}

.item {
  position: relative;
  @extend %flex-column;
  justify-content: center;
  gap: var(--gap-sm);

  padding-left: 52px;
  min-height: 40px;

  &_title {
    font-size: var(--base-subtitle);
    font-weight: var(--fw-b);
    color: var(--black);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--primary);
  }

  @container list-grid (max-width: 400px) {
    padding-left: 0;
    svg {
      position: static;
    }
  }
}
