@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  grid-template-columns: repeat(2, 1fr);
  @include container-down('root', $tablet-width) {
    grid-template-columns: 1fr;
  }
  align-items: center;

  &_item {
    .base_title {
      color: var(--primary);
      margin-bottom: 0;
    }
  }
}

.list {
  @extend %flex-column;
}
