@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.grid_layout {
  align-items: center;

  &_item {
    .base_title {
      color: var(--primary);
      margin-bottom: 0;
    }
  }
}
