@import '../../../../styles/extends.scss';
@import '../../../../styles/mixins.scss';

.root {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;

  & + section {
    padding-top: 80px;
  }

  @include container-up('header', $nav-collapse-width) {
    nav {
      ul a {
        color: var(--white);
      }
    }
  }
}

.header {
  &_logo {
    margin: 0 auto;

    @include container-down('header', 1080px) {
      margin: 0;
      margin-right: auto;
    }
  }

  &_address {
    display: flex;
    gap: 8px;
    width: fit-content;

    span {
      display: inline-block;
      color: var(--white);
    }

    @include container-down('header', 1080px) {
      display: none;
    }
  }

  &_contacts {
    flex-direction: row;
    flex-wrap: nowrap;

    & > * {
      width: 100%;
    }

    a {
      @extend %flex-center;
      justify-content: flex-start;
      width: fit-content;
      gap: 8px;
      color: var(--white);
    }
  }

  &_action {
    flex-wrap: nowrap;

    button {
      text-wrap: nowrap;
    }
  }
}
