@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.content {
  &_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin-bottom: 16px;

    @include container-down('root', 900px) {
      &_column {
        flex-direction: column;
        align-items: flex-start;
        column-gap: var(--gap-xl);
        row-gap: var(--gap-sm);
      }
    }

    &_metros {
      @extend %list-reset;
      @extend %flex-column;
      gap: var(--gap-base);
      margin-bottom: 8px;
      width: 100%;

      @include container-down('root', 590px) {
        gap: var(--gap-sm);
      }

      &_details {
        @extend %flex-align;
        gap: var(--gap-base);

        @include container-down('root', $mobile-width) {
          width: 100%;
        }

        svg {
          max-width: 16px;
          max-height: 16px;
          min-height: 16px;
          min-width: 16px;
          object-fit: contain;
        }
        .base_text {
          font-size: var(--gap-sm);

          &_margin_r {
            margin-right: auto;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          &_time {
            white-space: nowrap;
          }
        }
      }

      &_btn_wrapper {
        position: relative;
      }
    }
    &_show_more {
      width: fit-content;
      padding: 3px 8px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      white-space: nowrap;
      border: 1px solid var(--primary);
      background-color: transparent;
      color: var(--primary);
    }
  }
}
