@import '../../../shared/styles/extends.scss';
@import '../../../shared/styles/mixins.scss';

.root {
  container: root / inline-size;
}

.list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;

  &_item {
    display: flex;
    flex-direction: column;
    width: calc((100% / 4) - calc(60px / 4));
    gap: var(--gap-md);
    border: 1px solid var(--lighter);

    @include media-down(1300px) {
      width: calc((100% / 3) - calc(40px / 3));
    }

    @include media-down(1050px) {
      width: calc((100% / 2) - calc(40px / 2));
    }

    @include media-down($tablet-width) {
      width: 100%;
    }

    &_price {
      color: var(--primary);
    }

    &_gallery {
      width: 100%;

      img {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        min-height: 320px;
        object-fit: contain;
      }
    }

    &_content {
      @extend %flex-column;
      max-height: fit-content;
      gap: var(--gap-base);
      height: 100%;
      min-height: 533px;
      padding: 16px;
      max-height: 100vh;

      &_headers {
        @extend %flex-align;
        gap: var(--gap-base);
        width: 100%;
        margin-bottom: 8px;

        span {
          font-weight: var(--fw-r);
          font-size: var(--fs-sm);
          color: var(--secondary);
          margin-left: auto;
          white-space: nowrap;
        }
      }

      &_badge {
        padding: 4px 10px;
        width: fit-content;
        background-color: var(--lighter);
        border-radius: 5px;
        white-space: nowrap;
      }

      &_badge_alt {
        @extend %flex-align;
        gap: var(--gap-base);
        width: fit-content;
        margin-bottom: 8px;
        background-color: transparent;
      }

      .base_title {
        margin-bottom: 8px;
        font-weight: var(--fw-m);
        font-size: var(--fs-lg);
        color: var(--dark);
        @include text-truncate(2);
      }

      .base_subtitle {
        font-weight: var(--fw-r);
        font-size: var(--fs-sm);
        color: var(--dark);
        @include text-truncate(1);
      }

      .base_text {
        font-size: 16px;
      }
    }

    &_wrapper {
      @extend %flex-column;
      gap: var(--gap-base);
      margin-top: auto;
    }

    &_properties {
      display: grid;
      grid-template-columns: 1fr;
      padding: 16px 0;
      border-top: 1px solid var(--lighter);
      border-bottom: 1px solid var(--lighter);
      margin-bottom: auto;

      &_content {
        @extend %flex-column;
        &_details {
          @extend %flex-align;
          font-weight: var(--fw-r);
          font-size: var(--fs-sm);
          color: var(--lighter);
        }

        &_details span:last-child {
          margin-left: auto;
          font-weight: var(--fw-m);
          color: var(--dark);
        }
      }
    }

    &_properties_alt {
      @extend %list-reset;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--gap-sm);
      row-gap: 8px;
      width: 100%;
      padding: 16px 0;
      border-top: 1px solid var(--lighter);
      border-bottom: 1px solid var(--lighter);

      @include container-down('root', $mobile-width) {
        grid-template-columns: 1fr;
      }

      &_details {
        @extend %flex-column;
        gap: var(--gap-base);
        font-weight: var(--fw-r);
        font-size: var(--fs-sm);
        color: var(--primary);
        padding: 8px 16px;
        background: #ffffff;
        border: 1px solid #e5edff;
      }

      &_details span:first-child {
        border-bottom: 1px solid var(--lighter);
        padding-bottom: 8px;
      }

      &_details span:last-child {
        // margin-left: auto;
        font-weight: var(--fw-m);
        color: var(--gray);
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &_price {
      font-weight: var(--fw-m);
      font-size: var(--fs-lg);
      color: var(--primary);
      margin: 8px 0;
    }

    &_price_measure {
      font-weight: var(--fw-r);
      font-size: var(--fs-sm);
      color: var(--site-color);
    }

    &_show_more {
      width: fit-content;
      padding: 3px 8px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      white-space: nowrap;
      border: 1px solid var(--primary);
      background-color: transparent;
      color: var(--primary);
    }
  }
}
