@import '../../../../shared/styles/extends.scss';
@import '../../../../shared/styles/mixins.scss';

.list {
  grid-template-columns: repeat(4, 1fr);

  @include media-down($laptop-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-down($tablet-width) {
    grid-template-columns: 1fr;
  }

  &_item {
    .base_subtitle {
      width: fit-content;
      font-size: clamp(24px, 4.8vw, 48px);
      color: var(--primary);

      border-bottom: 1px solid var(--primary-lighten-40);
    }
  }
}
