.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-base);

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgb(209, 213, 219);
    background-color: rgb(243, 244, 246);
    cursor: pointer;
    padding: 5px 8px;
    transition:
      background-color var(--base-transition),
      border-color var(--base-transition);

    &:hover:not(input:checked ~ label) {
      border-color: var(--black);
      background-color: #fff;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ label {
      background-color: var(--black);
      color: var(--white);
    }
  }
}
