%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-align {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
