%tooltip-frame {
  position: relative;
  margin: 5px 10px;

  &::before {
    position: absolute;
    top: -5px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    content: '';
    border-radius: 5px;
    background-color: var(--primary);
    opacity: var(--tooltip-opacity);
  }
}

%svg-frame {
  position: relative;
  margin-left: 10px;

  &::before {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    content: '';
    border-radius: 50%;
    background-color: var(--primary);
    opacity: var(--tooltip-opacity);
  }
}
